@mixin font-family-override {
  h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', 'Arial', sans-serif;
  }
}

@mixin laptop-font-sizes {
  h2 {
    font-size: 212%;
    margin: 0;
  }

  h5 {
    font-size: 98%;
  }
}

@mixin laptop-query {
  @media only screen and (max-width: 1600px) {
    @include laptop-font-sizes;

    .mainLogo {
      height: 36px;
      width: 200px;
      margin: 5px auto 25px;
    }

    .hero-container {
      height: 146px;
    }

    .hero {
      height: 85%;
      top: 7%;
      bottom: 8%;
    }

    .message {
      margin: 60px 0 40px;
    }

    .directions {
      margin-bottom: 6.5px;
    }

    .app-button {
      width: 220px;
      padding: 3px 0;
      margin: 25px 15px 10px;

      .material-icons {
        font-size: 230%;
        margin-bottom: 0;
      }
    }
  }
}

@mixin set-color($color) {
  .mainLogo {
    // May later set logo dynamically here
  }

  .app-button:hover {
    background: linear-gradient($color, darken($color, 20%));
  }
}

@mixin colors {
  @each $color in $colors {
    .#{$color} {
      @include set-color($color);
    }
  }
}