$primary-color: lightsalmon;
$primary-color-dark: darken($primary-color, 20%);
$primary-color-gradient: linear-gradient($primary-color, $primary-color-dark);
$text-color: #595959;
$icon-color: #8e8e8e;
$colors: red, blue, lightblue, green, lightgreen, lightsalmon, orange, yellow, violet;