h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato', 'Arial', sans-serif; }

.red .app-button:hover {
  background: linear-gradient(red, #990000); }

.blue .app-button:hover {
  background: linear-gradient(blue, #000099); }

.lightblue .app-button:hover {
  background: linear-gradient(lightblue, #5fb3ce); }

.green .app-button:hover {
  background: linear-gradient(green, #001a00); }

.lightgreen .app-button:hover {
  background: linear-gradient(lightgreen, #38e038); }

.lightsalmon .app-button:hover {
  background: linear-gradient(lightsalmon, #ff5714); }

.orange .app-button:hover {
  background: linear-gradient(orange, #996300); }

.yellow .app-button:hover {
  background: linear-gradient(yellow, #999900); }

.violet .app-button:hover {
  background: linear-gradient(violet, #e228e2); }

body {
  background-color: #fdfdfd;
  margin: 0;
  min-height: auto; }

.App {
  margin: 0 auto 40px;
  height: 100%;
  width: 90%;
  text-align: center;
  color: #595959; }

.mainLogo {
  background-image: url("../logos/foliodynamix.png");
  background-size: cover;
  height: 75px;
  width: 305px;
  margin: 5px auto 25px;
  vertical-align: center;
  text-align: center; }

.hero-container {
  width: 100%;
  height: 225px;
  background-color: #efefef;
  position: relative; }

.hero {
  position: absolute;
  vertical-align: middle;
  width: 100%;
  height: 88%;
  top: 5.5%;
  bottom: 6.5%;
  margin: 0 auto;
  background-image: url(../hero.png);
  background-size: cover; }

.message {
  margin: 105px 0 80px; }

.message h2 {
  font-weight: 100; }

.directions {
  color: #595959;
  margin-bottom: 25px;
  font-weight: 700; }

.app-button {
  position: relative;
  background-color: #fff;
  color: #595959;
  width: 320px;
  margin: 25px 20px 10px;
  padding: 15px 0;
  border: 0;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0 0 15px 2px 	#efefef; }
  .app-button .material-icons {
    font-size: 290%;
    color: #8e8e8e; }
  .app-button h5 {
    color: #595959;
    margin-top: 18px;
    font-weight: 600; }
  .app-button:focus {
    outline: 0; }
  .app-button:hover {
    color: #fff;
    box-shadow: 0 0 15px 2px #C0C0C0;
    cursor: pointer; }
    .app-button:hover h5, .app-button:hover .material-icons {
      color: #fff; }

.button-content {
  vertical-align: center; }

.app-button .material-icons {
  padding-top: 15px; }

.app-button p {
  font-weight: bold;
  margin-top: 10px; }

@media only screen and (max-width: 1600px) {
  h2 {
    font-size: 212%;
    margin: 0; }

  h5 {
    font-size: 98%; }

  .mainLogo {
    height: 36px;
    width: 200px;
    margin: 5px auto 25px; }

  .hero-container {
    height: 146px; }

  .hero {
    height: 85%;
    top: 7%;
    bottom: 8%; }

  .message {
    margin: 60px 0 40px; }

  .directions {
    margin-bottom: 6.5px; }

  .app-button {
    width: 220px;
    padding: 3px 0;
    margin: 25px 15px 10px; }
    .app-button .material-icons {
      font-size: 230%;
      margin-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
