@import "variables", "mixins";

@include font-family-override;
@include colors;

body {
  background-color: #fdfdfd;
  margin: 0;
  min-height: auto;
}

.App {
  margin: 0 auto 40px;
  height: 100%;
  width: 90%;
  text-align: center;
  color: $text-color;
}

.mainLogo {
  background-image: url('../logos/foliodynamix.png');
  background-size: cover;
  height: 75px;
  width: 305px;
  margin: 5px auto 25px;
  vertical-align: center;
  text-align: center;
}

.hero-container {
  width: 100%;
  height: 225px;
  background-color: #efefef;
  position: relative;
}

.hero {
  position: absolute;
  vertical-align: middle;
  width: 100%;
  height: 88%;
  top: 5.5%;
  bottom: 6.5%;
  margin: 0 auto;
  background-image: url(../hero.png);
  background-size: cover;
}

.message {
  margin: 105px 0 80px;
}

.message h2 {
  font-weight: 100;
}

.directions {
  color: $text-color;
  margin-bottom: 25px;
  font-weight: 700;
}

.app-button {
  position: relative;
  background-color: #fff;
  color: $text-color;
  width: 320px;
  margin: 25px 20px 10px;
  padding: 15px 0;
  border: 0;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0 0 15px 2px 	#efefef;

  .material-icons {
    font-size: 290%;
    color: $icon-color;
  }

  h5 {
    color: $text-color;
    margin-top: 18px;
    font-weight: 600;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    h5, .material-icons {
      color: #fff;
    }
    color: #fff;
    box-shadow: 0 0 15px 2px #C0C0C0;
    cursor: pointer;
  }
}

.button-content {
  vertical-align: center;
}

.app-button .material-icons {
  padding-top: 15px;
}

.app-button p {
  font-weight: bold;
  margin-top: 10px;
}

@include laptop-query;